@font-face {
    font-family : 'Antikor';
    src : url(fonts/Antikor\ Mono\ Regular.ttf);
}




html {
    height : 100%;
    scrollbar-width : none; /**/ overflow : -moz-scrollbars-none; /**/ -ms-overflow-style : none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar { display : none; }

body {
    margin : 0;

    background-color : #bbc2d4;
    background-image : linear-gradient(135deg, #bbc2d4, #d1c7cd);
}

#app-wrapper {
    display : flex;
    flex-direction : column;
    min-height : 100vh;


    #header {
        width : 100wh;
        background-color : #a4aabb;


        #header--wrapper {
            display : flex;
            flex-direction : row;
            justify-content : flex-end;

            margin : 0 10%;

            font-size : 1.2pc;
            font-family : Antikor, 'Courier New', Courier, monospace;
            color : #656b73;


            > span {
                margin : auto 0;

                transition-property : transform;
                transition-duration : .2s;
                transition-timing-function : ease;

                &::after {
                    content : "/";
                    font-size : 1.5em;
                }

                &:hover {
                    transform : rotate(-30deg);
                }

            }


            > div {
                margin : 15px 0;
                padding : 0 15px;


                a {
                    color : #656b73;
                    text-decoration : none;

                    transition-property : color;
                    transition-duration : .2s;
                    transition-timing-function : ease;

                    &:hover, :active {
                        color : #468578;
                    }

                }

            }

        }

    }


    #main {
        display : flex;
        flex-direction : column;


        #main--header-margin-top {
            min-height : 80px;
        }
    

        #main--header-wrapper {
            display : flex;
            flex-direction : column;

            font-size : 2pc;
            font-family : Antikor, 'Courier New', Courier, monospace;
            color : #656b73;


            > div {
                margin : 10px;
                text-align : center;
            }

        }


        #main--header-margin-bottom {
            min-height : 40px;
        }


        #main--content-wrapper {
            display : flex;
            flex-direction : column;


            > div {
                margin : 10px;
                text-align : center;


                a {
                    font-size : 2pc;
                    font-family : Antikor, 'Courier New', Courier, monospace;
                    font-weight : bold;
                    color : #656b73;
                    text-decoration : none;

                    transition-property : color;
                    transition-duration : .2s;
                    transition-timing-function : ease;

                    &:hover, :active {
                        color : #64a0c2;
                    }

                }

            }

        }

    }

}