html {
    height : 100%;
    scrollbar-width : none; /**/ overflow : -moz-scrollbars-none; /**/ -ms-overflow-style : none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar { display : none; }

body {
    margin : 0;

    background-color : #B5C6B8;
}

#app-wrapper {
    display : flex;
    flex-direction : column;
    min-height : 100vh;
}

#main {
    display : flex;
    flex-direction : column;
}

#main--header-wrapper {
    display : flex;
    flex-direction : column;
}
#main--header-wrapper > div {
    margin : 10px;
    text-align : center;
}
#main--header-wrapper span {
    font-size : 2pc;
    font-family : 'Courier New', Courier, monospace;
    color : #48523D;
}

#main--content-wrapper {
    display : flex;
    flex-direction : column;
}
#main--content-wrapper > div {
    margin : 10px;
    text-align : center;
}
#main--content-wrapper a {
    font-size : 2pc;
    font-family : 'Courier New', Courier, monospace;
    font-weight : bold;
    color : #48523D;
    text-decoration : none;
}