html {
    font-size : 1pc;
}

* {
    margin : 0;
    padding : 0;
}

body {
    margin : 0;
    padding : 0;


    * {
        box-sizing : border-box;
    }

}


/** A ************************************************************************/

a {
    font : inherit;
    color : inherit;
    text-decoration : underline solid inherit .1em;

    &:visited {
        color : inherit;
    }
}

/** B ************************************************************************/

button {
    background-color : transparent;
    border : none;
    cursor : pointer;

    font : inherit;
    color : inherit;

    &:disabled {
        cursor : default;
    }
}

/** C ************************************************************************/

/** D ************************************************************************/

/** E ************************************************************************/

/** F ************************************************************************/

/** G ************************************************************************/

/** H ************************************************************************/

/** I ************************************************************************/

img {
    display : block;
}

input {
    background-color : transparent;
    border : none;

    font : inherit;
    color : inherit;
}

/** J ************************************************************************/

/** K ************************************************************************/

/** L ************************************************************************/

/** M ************************************************************************/

menu {
    list-style-type : none;
}

/** N ************************************************************************/

/** O ************************************************************************/

/** P ************************************************************************/

/** Q ************************************************************************/

/** R ************************************************************************/

/** S ************************************************************************/

/** T ************************************************************************/

/** U ************************************************************************/

ul {
    list-style-type : none;
}

/** V ************************************************************************/

/** W ************************************************************************/

/** X ************************************************************************/

/** Y ************************************************************************/

/** Z ************************************************************************/