@mixin absolute-positioning-tl($top : 50%, $left : 50%) {
    position : absolute;
    top : $top;
    left : $left;
    transform : translate(-50%, -50%);
}
@mixin absolute-positioning-tr($top : 50%, $right : 50%) {
    position : absolute;
    top : $top;
    right : $right;
    transform : translate(50%, -50%);
}
@mixin absolute-positioning-bl($bottom : 50%, $left : 50%) {
    position : absolute;
    bottom : $bottom;
    left : $left;
    transform : translate(-50%, 50%);
}
@mixin absolute-positioning-br($bottom : 50%, $right : 50%) {
    position : absolute;
    bottom : $bottom;
    right : $right;
    transform : translate(50%, 50%);
}

@mixin adaptive-padding-radius {
    padding : .33em 1em;
    border-radius : 999em;
}

@mixin background-image-blur($depth) {
    &::after {
        content : '';
        position : absolute;
        top : 0;
        left : 0;
        z-index : -1;
        width : 100%;
        height : 100%;
        backdrop-filter : blur($depth);
    }
}