@use './def';
@use './mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family : 'Noto Sans';
    src : url('../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}



:root {
    --color-white : whitesmoke;
    --color-pink-pale : rgb(227, 210, 227);
    --color-green : rgb(67, 77, 52);
    --color-green-hover : rgb(53, 61, 41);
    --color-placeholder_background : rgb(168, 140, 171);

    --background-color1 : rgb(222, 197, 225);
    --background-color2 : rgb(218, 162, 224);
    --background-color3 : rgb(168, 140, 171);

    --color-regular1 : rgb(24, 0, 24);
    --color-regular1-hover : rgb(24, 12, 24);

    --font-regular : 'Noto Sans', sans-serif;
    --font-mono : 'Montserrat', monospace;
}

html {
    @media (orientation : portrait) { font-size : 12px; }
}
body {
    position : relative;
    box-sizing : border-box;

    min-height : 100vh;
    padding : 2rem;

    background-color : var(--background-color1);
    background-image : linear-gradient(160deg, var(--background-color1), var(--background-color2));

    font-family : var(--font-regular);
    color : var(--color-regular1);


    main {
        background-color : var(--color-white);
        border-radius : 2px;

        --side-padding : 5rem;

        @media (orientation : portrait) {
            --side-padding : 3rem;
        }


        > .profile {
            padding : 2rem var(--side-padding) 1rem var(--side-padding);

            display : flex;
            flex-wrap : wrap;


            .avatar {
                width : 10rem;
                height : 10rem;

                clip-path : circle(closest-side);
                background-color : var(--color-placeholder_background);

                > img {
                    width : 100%;
                    height : 100%;
                    object-fit : cover;
                }
            }

            .description {
                padding : 1rem 0 0 2.5rem;


                > .name {
                    font-size : 1.5rem;
                }

                > .bio {
                    margin-top : .5rem;
                }

            }

        }


        > hr {
            margin : 0 var(--side-padding);

            border : solid 1px grey;
        }


        > .contacts {
            padding : 2rem 4rem;

            background-color : var(--color-pink-pale);
            border-radius : 0 0 2px 2px;


            .links {
                display : flex;
                align-items : flex-start;


                > .name {
                    font-size : 1.2rem;
                }

                > hr {
                    align-self : stretch;
                    margin : 0 .75rem;

                    border : solid 1px grey;
                }


                @media (orientation : portrait) {
                    flex-direction : column;

                    > hr {
                        width : 10rem;
                        margin : .75rem 0;

                        border : solid 1px grey;
                    }
                }

            }

        }

    }


    a {
        text-decoration : underline solid var(--color-green) 1px;
        color : var(--color-green);
        &:visited { color : var(--color-green); }
        &:hover { color : var(--color-green-hover); }

        &[target="_blank"]::after {
            content : '\2197';
        }
    }

    .clickable {
        cursor : pointer;
    }

    span.mono {
        padding : 0 .25rem;

        background-color : var(--color-placeholder_background);
        border-radius : 2px;

        font-family : var(--font-mono);
    }

    dialog.confirmation {
        position : fixed;
        top : 2%;
        left : 1%;

        margin : 0;

        padding : .1rem 1rem;
        background-color : var(--color-placeholder_background);
        border : none;
        border-radius : 2px;
    }

}