@font-face {
    font-family : 'Noto Sans';
    src : url('../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}



:root {
    // color palettes
    /*
    --ash-gray: #acbdbaff;
    --azure-web: #cdddddff;
    --rose-quartz: #a599b5ff;
    --jet: #2e2f2fff;
    --rich-black: #051014ff;

    --alabaster: #e0e2dbff;
    --timberwolf: #d2d4c8ff;
    --ash-gray: #b8bdb5ff;
    --cadet-gray: #889696ff;
    --hookers-green: #5f7470ff;

    --ultra-violet: #6c698dff;
    --timberwolf: #d4d2d5ff;
    --silver: #bfafa6ff;
    --beaver: #aa968aff;
    --dim-gray: #6e6a6fff;

    --thistle: #e3c0d3ff;
    --mountbatten-pink: #95818dff;
    --paynes-gray: #576066ff;
    --dark-slate-gray: #2c514cff;
    --gunmetal: #122932ff;

    --van-dyke: #4e3d42ff;
    --dim-gray: #6d6466ff;
    --ash-gray: #9f9f92ff;
    --tea-green: #c9d5b5ff;
    --timberwolf: #e3dbdbff;
    */
}

html {
    @media (orientation : portrait) { font-size : 12px; }
}
* {
    box-sizing : border-box;
}

body {
    position : relative;

    margin : 0;

    font-family : 'Noto Sans', sans-serif;


    > main {
        width : 100vw;
        height : 100vh;

        display : grid;
        //grid-template-columns : ;
        grid-auto-flow : column;
        @media (orientation : portrait) { grid-auto-flow : row; }

        &.color_palette_1 {
            --color-a : #acbdbaff;
            --color-b : #cdddddff;
            --color-c : #a599b5ff;
            --color-d : #2e2f2fff;
            --color-e : #051014ff;
        }


        > section {
            flex-grow : 1;

            &:nth-child(5n - 4) { background-color : var(--color-a); }
            &:nth-child(5n - 3) { background-color : var(--color-b); }
            &:nth-child(5n - 2) { background-color : var(--color-c); }
            &:nth-child(5n - 1) { background-color : var(--color-d); }
            &:nth-child(5n - 0) { background-color : var(--color-e); }
        }

    }


    > .bottom-links {
        position : fixed;
        bottom : 0;
        right : 10%;
        transform : translateY(100%);

        padding : .5rem;

        background-color : white;
        border-radius : .5rem .5rem 0 0;

        transition : transform .2s ease-in-out;

        &.show {
            transform : translateY(0);
        }


        a {
            display : block;
            margin-bottom : .5rem;
            padding : .2rem;
            clip-path : circle(closest-side);

            > img {
                display : block;
                width : 2.35rem;
                height : 2.35rem;
            }
        }

    }


    /*
    a {
        text-decoration : underline solid var(--color-green) 1px;
        color : var(--color-green);
        &:visited { color : var(--color-green); }
        &:hover { color : var(--color-green-hover); }

        &[target="_blank"]::after {
            content : '\2197';
        }
    }
    */

}
