@font-face {
    font-family : 'Noto Sans';
    src: url('../fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}



body {
    margin : 0;
    padding : 0;

    $gradient-color1 : #dec5e1;
    $gradient-color2 : #daa2e0;

    background-color : $gradient-color1;
    background-image : linear-gradient(160deg, $gradient-color1, $gradient-color2);

    font-family : 'Noto Sans', sans-serif;
}

#app {
    min-height : 100vh;
    padding : 2pc;
    box-sizing : border-box;


    #app_wrapper {
        padding : 80px 0;
        border : 1px solid black;
        text-align : center;

        $font_size-title : 40px;
        $font_size-big : 32px;
        $font_size-small : 24px;


        > div {

            > .title {
                margin-bottom : 10px;
                font-size : $font_size-title;
            }

            > .d {
                font-size : $font_size-small;


                a {
                    text-decoration : none;
                    &:visited { color : inherit; }
                }

            }

        }




        .profile_image {
            width : 250px;
            margin : 0 auto;


            > img {
                display : block;
                width : 100%;
                clip-path : circle(closest-side);
            }

        }


        .description {
            margin-bottom : 60px;


            .who {
                margin-bottom : 10px;
                font-size : 49px;
            }
            .text {
                font-size : 32px;
            }

        }


        .projects {
            margin-bottom : 60px;
        }


        .contacts {}

    }

}